// @import "_variables";

/* colors defined in variables.css */
:root {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--c-gray);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-darkgray);
  }

  h1 {
    width: 100%;
    border-bottom: 1px solid var(--c-darkgray);
  }

  /* z-index */
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  --border-radius: 4px;
  --font-body: var(--serif);
  --font-form: var(--serif);
  --color-bg: #ffffff;
  --color-fg: var(--color-off-black);
  --color-placeholder: var(--color-gray-dark);
  --color-link: var(--color-purple);
  --color-focus: transparent;
  --color-form-bg: var(--color-gray-dark);
  --color-form-fg: var(--color-off-black);
  --color-border: var(--color-gray-light);
  --color-selection: var(--color-gray-light);
  --color-highlight: var(--color-yellow);

  --white: #ffffff;
  --off-white: #f3f3f3;
  --dragon: #b40d61; // charts
  --lemon: #f7c419; // svelte
  --berry: #fb3636; // api
  --dark: #1e1d1d;

  --c-white: #fff;
  --c-gray: #dfdfdf;
  --c-green: #77e323;
  --c-darkgray: #42453d;
  --c-black: #000000;
  --c-green-15: rgba(119, 227, 35, 0.15);
}
